<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skybot.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="9" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- SkybotTab Layout Activity -->
    <application
        android:allowBackup="true"
        android:backupAgent="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >

        <!-- Login Activity -->
        <activity
            android:name="com.skybot.activities.LoginActivity"
            android:label="@string/app_name" >

            <!-- SkybotTabLayoutActivity -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SkybotTabLayoutActivity -->

        <activity android:name="com.skybot.activities.SkybotTabLayoutActivity" />

        <!-- Songs Activity -->

        <activity android:name="com.skybot.activities.DashboardActivity" />

        <!-- Jobs History Activity -->
        <activity android:name="com.skybot.activities.JobsHistoryActivity" />

        <!-- Jobs Activity -->
        <activity android:name="com.skybot.activities.JobsActivity" />

        <!-- Agent Activity -->
        <activity android:name="com.skybot.activities.AgentActivity" />

        <!-- Report Activity -->
        <activity android:name="com.skybot.activities.JobHistoryReportActivity" />

        <!-- Settings Activity -->
        <activity android:name="com.skybot.activities.HelpActivity" />

        <!-- Jobs Details Activity -->
        <activity android:name="com.skybot.activities.JobsDetailsActivity" />

        <!-- Entry for RegisterActivity.class -->
        <activity
            android:name=".RegisterActivity"
            android:label="Register New Account" >
        </activity>
        <!-- Chart Engine Activity -->
        <activity android:name="org.achartengine.GraphicalActivity" />
    </application>

</manifest>